
header{
    height:60px;
    /* border:5px solid hotpink; */
    background-color: #3b2632;
    color:white;
}

#brand{
    float:left;
    font-size:30px;
    margin-top: 1%;
    margin-left: 1%;

}

#social{
    float: right;
    margin-top: 5px;
    margin-right: 1%;
}
.socialIcon{
    height:50px
}